.carousel {
  text-align: center;
  & > ul {
    & > li {
      button {
        background-color: black !important;
      }
    }
  }
}

.slick-list {
  width: 100% !important;; /* Thay đổi giá trị này theo nhu cầu của bạn */
}
