.ace_editor .ace_keyword {
  color: #00ff33; /* Màu xanh */
  font-weight: bold; /* Nếu bạn muốn từ khóa có chữ đậm */
}

.ace_underline {
  position: absolute;
  border-bottom: 2px dotted rgb(229, 120, 120);
  pointer-events: none; 
}
